<!-- HEADER -->
<%- include('partials/header') %>

    <!-- UNDER THE HEADER -->
    <main>
        <!-- TASKBAR -->
        <%-include('partials/taskbar') %>
        
        <!-- CONTENT -->
        <div class="content">
            <% if (locals.posts.length === 0) { %>
                <div>No posts to show</div>
            <% } else { %>
                <% for (var i = locals.posts.length - 1; i >= 0; i--) { %>
                    <!-- POST -->
                    <div class="post">
                        <!-- POST TITLE -->
                        <div class="post-title">
                            <%- locals.posts[i].title %>
                        </div>
                        <!-- POST CONTENT -->
                        <textarea readonly name="content" placeholder="Make this a Rich Text Editor"class="post-content hide-background"><%- locals.posts[i].content %></textarea>
                        <!-- POST BUTTONS -->
                        <div class="post-buttons">
                            <!-- EDIT BUTTON -->
                            <form action="/edit-post" method="POST">
                                <input type="hidden" name="index" value="<%- i %>">
                                <button type="submit" class="post-button">Edit</button>
                            </form>
                            <!-- DELETE BUTTON -->
                            <form action="/delete-post" method="POST">
                                <input type="hidden" name="index" value="<%- i %>">
                                <button type="submit" class="post-button">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </main>
</body>