<!-- HEADER -->
<%- include('partials/header') %>

    <!-- UNDER THE HEADER -->
    <main>
        <!-- TASKBAR -->
        <%-include('partials/taskbar') %>

        <!-- CONTENT -->
        <div class="content">
            <!-- POST -->
            <form action="/submit-added-content" method="POST" class="post">
                <!-- VARIABLES FOR BACKEND-->
                <input type="hidden" name="edited" value=<%- locals.edit %>>
                <input type="hidden" name="index" value=<%- locals.index %>>

                <!-- POST TITLE -->
                <input type="text" name="title" placeholder="Title"
                <% if (locals.edit === "true") { %>
                    value="<%- locals.posts[locals.index].title %>"
                <% } %>
                class="post-title" required>

                <!-- POST CONTENT -->
                <textarea name="content" placeholder="Make this a Rich Text Editor"class="post-content"
                required><% if (locals.edit === "true") { %><%- locals.posts[locals.index].content %><% } %></textarea>
            
                <!-- POST BUTTONS -->
                <div class="post-buttons">
                    <!-- SUBMIT/EDIT BUTTON -->
                    <button type="submit" class="post-button">
                        <% if (locals.edit === "true") { %>
                            Edit
                        <% } else { %>
                            Post
                        <% } %>
                    </button>

                    <!-- CANCEL BUTTON -->
                    <% if (locals.edit === "true") { %>
                        <a href="/account" class="post-button">Cancel</a>
                    <% } else { %>
                        <a href="/" class="post-button">Cancel</a>
                    <% } %>
                </div>
            </form>
        </div>
    </main>
</body>